<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyyc.common.dao.UserCourseRecordMapper">
	<resultMap id="BaseResultMap" type="com.kyyc.common.model.UserCourseRecord">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="COURSE_ID" property="courseId" jdbcType="INTEGER" />
		<result column="IS_STANDBY" property="isStandby" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<!-- 判断基础课程预约数量 -->
	<select id="countBaseCourse" resultType="Integer">
		SELECT COUNT(*)
		  FROM user_course_record r, course c
		 WHERE r.course_id = c.id
		   and r.user_id = #{userId}
		   AND c.code = #{code}
	</select>
</mapper>